@mixin flex-center($mode: 1){
    display: flex;
    align-items: center;

    @if $mode == 1{
        justify-content: center;
    }@else if $mode == 2{
        justify-content: flex-start;
        flex-direction: column;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

*:root{
    --main-bg1: rgb(245, 245, 245);
}

// 整體滾輪
*::-webkit-scrollbar{
    width: 5px;
}

// 滾輪轉動條
*::-webkit-scrollbar-track{
    background-color: var(--main-bg1);
}

// 滾輪拖曳條
*::-webkit-scrollbar-thumb{
    background: #6ce4ff;     /* 滑塊顏色 */
    border-radius: 4px;   /* 圓角 */
}

// 滾輪轉動條 hover
// *::-webkit-scrollbar-thumb:hover{}

input, button, textarea{
    border: none;
    outline: none;
    background-color: transparent;
}
button{
    cursor: pointer;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--main-bg1);

    @include flex-center(2);
}

#app{
    width: 100%;
    height: clamp(100vh, 100vh, 100vh);
    overflow-x: hidden;
    overflow-y: auto;
    @include flex-center(2);

    & > div{
        width: 100%;
    }
}

#msg_box{
    flex: 1;
    padding: 10px;
    padding-top: 50px;
    overflow-x: hidden;
    overflow-y: auto;

    @include flex-center(2);

    gap: 30px;

    .msg_bar{
        width: 100%;
        height: max-content;
        display: flex;

        .msg{
            width: fit-content;
            background-color: #ffffff;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
            border-radius: 2ch;
            padding: 5px 20px;

            position: relative;

            span{
                width: max-content;
                max-width: 100%;
                word-wrap: break-word;
                word-break: break-all;
            }

            &::before{
                content: attr(data-name);
                color: rgb(128, 128, 128);
                font-size: 12px;
                padding: 0 15px;
                position: absolute;
                    top: 0;
                transform: translate(0, -110%);
            }
        }
    }

    .msg_bar:not(.self){
        &::after{
            content: "";
            width: 20px;
            display: block;
        }
        .msg{
            &::before{
                left: 0;
            }
        }
    }

    .msg_bar.self{
        &::before{
            content: "";
            width: 20px;
            display: block;
        }
        .msg{
            margin-left: auto;

            &::before{
                right: 0;
            }
        }
    }

    .msg_join{
        width: 100%;
        @include flex-center();

        span{
            color: rgb(80, 80, 80);
            font-size: .6rem;
        }
    }
}

#input_box{
    height: 80px;

    padding: 0 30px;
    gap: 10px;
    @include flex-center(1);
    justify-content: space-around;

    input{
        height: 50%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        margin-right: 1vw;
        padding: 0 10px;
    }

    #send_btn1{
        height: 50%;
        aspect-ratio: 1 / 1;
        @include flex-center();

        position: relative;
        transition: transform 0.3s ease-in-out;

        &::after{
            content: "";
            width: 100%;
            height: 100%;
            background-image: url('../img/send.svg');
            background-repeat: repeat;
            background-size: cover;
            position: absolute;
            transform: scale(.8) translate(-1.5px, 1.5px);
        }

        &::before{
            --bdw : 0px;
            content: "";
            width: calc(100% - var(--bdw) * 2);
            height: calc(100% - var(--bdw) * 2);
            background-color: rgb(0, 0, 0);
            border-radius: 99999px;
            // border: var(--bdw) solid rgb(0, 0, 0);
            position: absolute;
        }
    }

    #send_btn1:hover{
        transform: scale(1.1);
    }
    #send_btn1:active{
        transform: scale(.9);
    }
}